.container {
	position: relative;
	width: 90%;
	min-width: 320px;
	max-width: 1280px;
	padding: 0 5px;
	margin: 0 auto;
}

.container.lg {
	max-width: 768px;
}

.d-flex {
	display: flex;
}

.flex-wrap {
	flex-wrap: wrap;
}
.flex-direction-column {
	flex-direction: column;
}

.justify-content-between {
	justify-content: space-between;
}

.justify-content-around {
	justify-content: space-around;
}

.align-items-center {
	align-items: center;
}

.align-items-end {
	align-items: flex-end;
}